{% extends 'default.html' %}
{% load cache %}
{% load custom_filters %}

{% cache 30 title %}
    {% block title %}
        <p>Search</p>
    {% endblock title %}
{% endcache %}

{% block content %}
<hr>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="To find">
    </form>
<hr>
            <table cellspacing="5" cellpadding="10" border="1" width="100%">
                <tr>
                    <td>
                        <b>Name</b>
                    </td>
                    <td>
                        <b>Description</b>
                    </td>
                    <td>
                        <b>Author</b>
                    </td>
                    <td>
                        <b>Date</b>
                    </td>
                </tr>
                {% for j in filter.qs %}
                <tr>
                    <td>
                        {{ j.title|censor }}
                    </td>
                    <td>
                        {{ j.text|truncatechars:25|censor}}
                    </td>
                    <td>
                        {{ j.author }}
                    </td>
                    <td>
                        {{ j.dateTime|date:"d.m.Y" }}
                    </td>
                </tr>
                {% endfor %}
            </table>
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}

{% endblock content %}